name: Lint

on:
  push:

permissions:
  contents: read
  checks: write
  statuses: write

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with: 
          ref: ${{ github.ref }} 

      - name: Super-linter
        uses: super-linter/super-linter@v8.3.0 
        env:
          DEFAULT_BRANCH: main 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
